<div class="row">
    <h2>Educación</h2>
    <div >
        <ul>
            <li type="square">
                <h3>Primaria</h3>
                <h4>Institución: </h4><p>texto</p>
                <br>
                <h4>Título: <p>texto</p></h4>
            </li>
        </ul>
        <ul>
            <li type="square">
                <h3>Primaria</h3>
                <h4>Institución: </h4><p>texto</p>
                <br>
                <h4>Título: <p>texto</p></h4>
            </li>
        </ul>
    </div>
</div>
