<div class="texto">
    <span>
        <h1>Hard & Soft Skills</h1>
    </span>
</div>
<br>
<div class="row">
    <div class="text-center col-xs-4 col-sm-3 col-md-3 col-xl-3">
        <circle-progress [percent]="85" [radius]="60" [outerStrokeWidth]="10" 
        [title]="'Inglés'" [showUnits]="false"
        [titleColor]="'#122e4d'" [titleFontSize]="'1em'" [showSubtitle]="false" 
        [innerStrokeWidth]="8" [outerStrokeColor]="'#5d9ee3'" 
        [innerStrokeColor]="'#a1b5cb'" [animation]="true" 
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-3 col-md-3 col-xl-3">
        <circle-progress [percent]="85" [radius]="60" [outerStrokeWidth]="10" [title]="'Inglés'" [showUnits]="false"
            [titleColor]="'#122e4d'" [titleFontSize]="'1em'" [showSubtitle]="false" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#5d9ee3'" [innerStrokeColor]="'#a1b5cb'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-3 col-md-3 col-xl-3">
        <circle-progress [percent]="85" [radius]="60" [outerStrokeWidth]="10" [title]="'Inglés'" [showUnits]="false"
            [titleColor]="'#122e4d'" [titleFontSize]="'1em'" [showSubtitle]="false" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#5d9ee3'" [innerStrokeColor]="'#a1b5cb'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-3 col-md-3 col-xl-3">
        <circle-progress [percent]="85" [radius]="60" [outerStrokeWidth]="10" [title]="'Inglés'" [showUnits]="false"
            [titleColor]="'#122e4d'" [titleFontSize]="'1em'" [showSubtitle]="false" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#5d9ee3'" [innerStrokeColor]="'#a1b5cb'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
</div>