<div class="row">
    <h2>Experiencia Laboral</h2>
    <div >
        <ul>
            <li type="square">
                <h3>Trabajo 1</h3>
                <h5>2000-2000</h5>
                <h4>Cargo: <p>texto</p></h4>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Nemo architecto consequuntur qui quia in similique, saepe, 
                 enim quas necessitatibus corporis error distinctio explicabo
                  veritatis nesciunt a optio obcaecati perspiciatis eaque.</p>
        </ul>
        <ul>
            <li type="square">
                <h3>Trabajo 1</h3>
                <h5>2000-2000</h5>
                <h4>Cargo: <p>texto</p></h4>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Nemo architecto consequuntur qui quia in similique, saepe, 
                 enim quas necessitatibus corporis error distinctio explicabo
                  veritatis nesciunt a optio obcaecati perspiciatis eaque.</p>
        </ul>
    </div>
</div>
