<div class="row d-flex justify-content-between align-items-center">
 
    <div id="imagen" class="col-xs-12 col-sm-4 col-md-4 col-xl-4">
        <img src="{{persona.img}}" alt="Foto de perfil"
             class="img-fluid">
    </div>
    <div class="nombre col-xs-12 col-sm-4 col-md-4 col-xl-4">
        <p>{{persona.nombre}} {{persona.apellido}}</p>
        <p class="cargo">Full Stack Developer Jr.</p>
        <div class="p-2" *ngIf="isLogged">
            <button class="btn btn-sec" routerLink="/editarpersona/{{persona.idpersona}}">
                <abbr title="Editar"><i class="bi bi-vector-pen"></i></abbr>
            </button>
        </div>
    </div>
    <div class="texto col-xs-12 col-sm-4 col-md-4 col-xl-4">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.acercade}}</p>
        </span>
    </div>
    
</div>
