<div class=" row texto">
    <span>
        <h1>Proyectos Realizados</h1>
    </span>
    <div class="contenedor">
        <div>
            <span>
                <h3>Diseño de Página Web</h3>
            </span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui eius at
                 molestias natus quo. Fugit magni sunt sapiente ipsum. Minus quia
                  molestias aliquid similique architecto, temporibus at harum soluta
                   eos.</p>
        </div>
        <div class="imagen">
            <img src="../../assets/Diseño Final.png"
            alt="Diseño de Página Web" width="50%">
        </div>
    </div>
</div>